/* App.css */

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, #888585, #20202e);
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  margin: 0 10px;
}

/* Section styles */
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}



@media screen and (max-width: 768px) {
  nav{
    width: 20%;
    padding: 20px;
  }
  section {
    width: 80%;
    overflow-x: hidden;
  }
  #about, #top, #projects, #contact {
    width: 100vw;
    min-height: 100vh
    }
}


